.div_ejM2b {
  position: relative;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr auto;
  background: var(--color-background);
}

.div_o4ubh {
  display: flex;
  flex-direction: column-reverse;
}

.div_3opy8 {
  display: grid;
  padding: 5px 0;
}

.div_t08NiJz{
  margin: auto;
  width: 100%;
  text-align: center;
  color: var(--color-letter);
}

.div_T5m0f {
  position: relative;
  width: 100%;
  justify-self: start;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 2.5px 10px;

  &.user {
    justify-content: right;
  }

  &.user .div_5f0m7 {
    background: var(--color-chat);
    color: #ffffff;
  }

  &.user .div_5f0m7.stiker {
    background: none;
    flex-direction: initial;
    color: var(--color-letter);
  }
}

.div_5f0m7 {
  position: relative;
  background: var(--color-item);
  color: var(--color-letter);

  border-radius: 8px;
  display: grid;
  padding: 5px;
  gap: 5px;

  max-width: calc(100% - 40px);

  &.stiker {
    background: none;

    display: flex;
    align-items: start;
    flex-direction: row-reverse;

    background: none;
    padding: 0;
  }
}

.div_0fPA54j {
  position: absolute;
  right: calc(100% + 20px);
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    width: 20px;
    height: 20px;
    fill: var(--color-letter);
  }
}
.div_fR7XE {
  background: rgb(181 178 178 / 0.3);
  display: grid;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  padding-left: 4px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: rgb(181 178 178);
  }

  & p {
    margin: 10px;
  }

  & img {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
}

.div_7Rn9q {
  display: grid;
  gap: inherit;
}

.div_oeFkT {
  display: flex;
  & p {
    word-break: break-word;
    font-size: 14px;
  }

  & img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }

  & a {
    color: inherit;
    font-weight: bold;
  }
}

.div_qsJ0y {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 5px;

  & span {
    justify-self: end;
    font-size: 12px;

    &.emoji {
      font-size: 13px;
    }
  }
}

.button_1I12J {
  width: 40px;
  height: 40px;
  color: var(--color-letter);

  cursor: pointer;
  overflow: hidden;

  &:hover {
    opacity: 0.7;
  }
}

.form_68Klg {
  background: var(--color-background);
  display: grid;
  border-top: 1.25px solid rgb(181 178 178 / 0.1);

  &.active .div_Zk0B9 {
    display: flex;
  }
}

.div_Zk0B9 {
  display: none;
  align-items: center;
  border-bottom: 1.25px solid rgb(181 178 178 / 0.1);
  overflow: hidden;
}

.p_IA4wz {
  padding: 0 15px;
  opacity: 0.6;
  color: var(--color-letter);
  width: calc(100% - 3px);
  flex: 1;

  & img {
    width: 50px;
    height: 50px;
    margin: 5px 0;
  }
}

.div_b3Gh3 {
  display: flex;
}

.label_Fkf9B {
  flex: 1;
  padding: 15px 0;
  min-height: 60px;
  display: flex;

  cursor: text;
}

.txt_W17W2 {
  overflow: hidden;

  font-size: 16px;
  height: 20px;
  max-height: 200px;

  align-self: center;

  color: var(--color-letter);
  width: 100%;
}

.button_E8Vr8 {
  align-self: end;
  width: 60px;
  height: 60px;

  color: var(--color-letter);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.5;
  }

  & svg {
    width: 20px;
    height: 20px;
    fill: var(--color-letter);
  }
}

.div_oYQs61G {
  align-self: end;
  width: 60px;
  height: 60px;

  overflow: hidden;
  display: grid;

  &.text button,
  &.text label {
    transform: translateY(-100%);
  }

  & button {
    position: relative;
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease;

    overflow: hidden;

    & svg {
      width: 20px;
      height: 20px;
      fill: var(--color-letter);
    }
  }
  
}

/* div_o4ubh */

.div_F6FFR {
  position: fixed;
  inset: 0;

  padding: 15px;
  display: none;

  &.active {
    display: flex;
  }
}

.div_3b7ZM {
  margin: auto;
  width: min(100%, 400px);
  height: min(100%, 400px);
  overflow: hidden;
  border-radius: 8px;
}

@media (min-width: 750px) {
  .div_ejM2b {
    overflow: hidden;
  }
}

/* CHAT STIKER */
.div_Wk1L3WK {
  width: 100%;
  height: 0;
  display: flex;

  transition: height 0.3s ease-in-out;

  &.active {
    height: 300px;
    overflow: hidden;
  }
}

.div_H8m7YkD {
  flex: 1;
  overflow: hidden;

  display: grid;
  grid-template-rows: 60px 1fr;
}

.div_9w65NCd {
  display: flex;
  border-top: 1.25px solid rgb(181 178 178 / 0.3);
}

.div_G533kHG {
  margin: auto;
  display: flex;
  gap: 10px;

  & span {
    padding: 10px 30px;

    color: var(--color-letter);
    border: 1.25px solid var(--color-letter);
    border-radius: 30px;

    &.focus {
      background: var(--color-letter);
      color: var(--color-item);

      & svg {
        fill: var(--color-item);
      }
    }

    & svg {
      width: 20px;
      height: 20px;
      fill: var(--color-letter);
    }
  }
}

.div_K23c15w {
  align-self: start;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 80px), 1fr));
  padding: 5px;
  gap: 5px;
  overflow: hidden;
}

.div_6dnYWBn {
  aspect-ratio: 1/1;
  border-radius: 5px;
  overflow: hidden; 

  & img {
    width: 100%;
    height: 100%;
  }
}

.div_JnZWjLM{
  display: flex;
}

.div_8dh8A1c{
  color: var(--color-letter);
}


.div_E982Lxj{
  height: 60px;
  display: none;

  &.active{
    display: flex;
  }
}

.div_7QI7r5p{
  display: flex;
  margin: auto;

  & label {
    position: relative;
    width: 60px;
    height: 60px;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    & input {
      position: absolute;
      inset: 0;
      opacity: 0;
      cursor: inherit;
    }

    & svg {
      width: 20px;
      height: 20px;
      fill: var(--color-letter);
    }
  }
}

.div_ZitSRVP{
  display: none; 
  grid-template-rows: 60px auto;

  &.active {
    display: grid;
  }

  & button {
    align-self: center;
  }
}

.div_jy8E19Y{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-height: 200px;
  padding: 5px; gap: 5px;
}

.div_8X6cbyp{
  display: grid; 
  justify-items: center;
  background: var(--color-item);
  aspect-ratio: 1 / 1;
  padding: 5px;
  border-radius: 5px;

  & img, & video {
    aspect-ratio: 1 / 1;
    width: 100%; 
    border-radius: inherit;
    object-fit: cover;
  }
}

.div_dJwcjIT{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 100px), 1fr));
  overflow: hidden;
  border-radius: 8px;

  & img {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
  }
}
 
/* div_ZitSRVP */
