.div_ejM2b {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr auto;
  background: var(--color-background);
}

.div_o4ubh {
  display: flex;
  flex-direction: column-reverse;

  &:has(.div_T5m0f) .div_1d4o4 {
    display: none;
  }

  &:has(.div_T5m0f) .div_3opy8 {
    display: grid;
  }
}

.div_1d4o4 {
  margin: auto;
  width: 64px;
  height: 64px;
  display: grid;

  & img {
    width: 100%;
    height: 100%;
    filter: var(--filter-img);
  }
}

.div_3opy8 {
  display: none;
  padding: 15px;
  gap: 5px;
}

.div_T5m0f {
  width: 100%;
  justify-self: start;
  display: flex;
  gap: 10px;
  align-items: center;

  &.user {
    justify-content: right;
  }

  &.user .div_5f0m7 {
    background: var(--color-chat);
    color: #ffffff;
  }

  &.user .div_5f0m7.stiker {
    background: none;
    flex-direction: initial;
    color: var(--color-letter);
  }
}

.div_5f0m7 {
  background: var(--color-item);
  color: var(--color-letter);

  border-radius: 8px;
  display: grid;
  padding: 5px;
  gap: 5px;

  max-width: 85%;

  &.stiker {
    background: none;

    display: flex;
    align-items: start;
    flex-direction: row-reverse;

    background: none;
    padding: 0;
  }
}

.div_fR7XE {
  background: rgb(181 178 178 / 0.3);
  display: grid;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  padding-left: 4px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: rgb(181 178 178);
  }

  & p {
    margin: 10px;
  }

  & img {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
}

.div_7Rn9q {
  display: grid;
  gap: inherit;
}

.div_oeFkT {
  display: flex;
  & p {
    word-break: break-word;
  }

  & img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }
}

.div_qsJ0y {
  display: grid;

  & span {
    justify-self: end;
    font-size: 12px;
  }
}

.button_1I12J {
  width: 40px;
  height: 40px;
  color: var(--color-letter);

  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.form_68Klg {
  background: none;
  display: grid;
  border-top: 1.25px solid rgb(255 255 255 / 0.1);

  &.active .div_Zk0B9 {
    display: grid;
  }
}

.div_Zk0B9 {
  display: none;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 1.25px solid rgb(255 255 255 / 0.1);
}

.p_IA4wz {
  padding: 0 15px;
  opacity: 0.6;
  color: var(--color-letter);

  & img {
    width: 50px;
    height: 50px;
    margin: 5px 0;
  }
}

.div_b3Gh3 {
  display: flex;
}

.label_Fkf9B {
  flex: 1;
  padding: 15px 0;
  min-height: 60px;
  display: flex;

  cursor: text;
}

.txt_W17W2 {
  overflow: hidden;

  font-size: 16px;
  height: 20px;
  max-height: 200px;

  align-self: center;

  color: var(--color-letter);
  width: 100%;
}

.button_E8Vr8 {
  align-self: end;
  width: 60px;
  height: 60px;

  color: var(--color-letter);
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

/* div_o4ubh */

.div_F6FFR {
  position: fixed;
  inset: 0;

  padding: 15px;
  display: none;

  &.active {
    display: flex;
  }
}

.div_3b7ZM {
  margin: auto;
  width: min(100%, 400px);
  height: min(100%, 400px);
  overflow: hidden;
  border-radius: 8px;

  user-select: none;
}

@media (min-width: 750px) {
  .div_ejM2b {
    overflow: hidden;
  }
}

/* CHAT STIKER */
.div_Wk1L3WK {
  width: 100%;
  height: 0;
  display: flex;

  transition: height 0.3s ease-in-out;
  &.active {
    height: 300px;
  }
}

.div_H8m7YkD {
  flex: 1;
  overflow: hidden;

  display: grid;
  grid-template-rows: 60px 1fr;
}

.div_9w65NCd {
  display: flex;
  border-top: 1.25px solid rgb(181 178 178 / 0.3);
  border-bottom: 1.25px solid rgb(181 178 178 / 0.3);
}

.div_G533kHG {
  display: flex;
  & button {
    width: 60px;
    height: 60px;

    color: var(--color-letter);
  }
}

.div_zq2nbRg {
  display: flex;
}

.div_K23c15w {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 80px), 1fr));
  padding: 5px;
  gap: 5px;
  overflow: hidden;
}

.div_6dnYWBn {
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 5px;

  & img {
    width: 100%;
    height: 100%;
  }
}

.div_4m9E0dI{
  position: relative;
}

.div_S9WOJ54 {
  position: absolute; inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* button_E8Vr8 div_S9WOJ54 */
