.div_ejM2b {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr auto; 
}

.div_o4ubh {
  display: flex;
  flex-direction: column-reverse;

  &:has(.div_T5m0f) .div_1d4o4 {
    display: none;
  }

  &:has(.div_T5m0f) .div_3opy8 {
    display: grid; 
  }
}

.div_1d4o4 {
  margin: auto;
  filter: var(--filter-img);
  width: 64px;
  height: 64px;
  display: grid;

  & img {
    width: 100%;
    height: 100%;
  }
}

.div_3opy8 {
  display: none;
  padding: 15px;
  gap: 5px;
}

.div_T5m0f {
  width: 100%;
  justify-self: start;
  display: flex;
  gap: 10px;
  align-items: center; 

  &.user {
    justify-content: right;
  }

  &.user .div_5f0m7 {
    background: #7C4DFF;
    color: #ffffff;
    justify-content: right;  
  }
 
}

.div_5f0m7 {
  background: var(--color-item);
  padding: 10px;
  border-radius: 8px;
  max-width: 85%;

  overflow: hidden;
  word-break: break-word;
  color: var(--color-letter);
  display: grid;
  gap: 10px;

  & span{
    padding: 10px;
    border-left: 2px solid rgb(181 178 178 / .3);
    background: rgb(181 178 178 / .1);
    border-radius: 5px;

    &:has(img){
      padding: 5px;
    }

    & img{
      width: 50px;
      height: 50px;
    }
  }
}

.div_fR7XE {
  display: flex;
  width: 100px;
  height: 100px;

  display: flex; 

  overflow: hidden;
  border-radius: 8px;

  & img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.button_1I12J {
  width: 40px;
  height: 40px;
  color: var(--color-letter);

  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.form_68Klg {
  background: none;
  display: grid;
  border-top: 1.25px solid rgb(255 255 255 / 0.1); 

  &.active .div_Zk0B9 {
    display: grid;
  }
}

.div_Zk0B9{
  display: none; 
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 1.25px solid rgb(255 255 255 / 0.1);
}

.p_IA4wz{ 
  padding: 0 15px;
  opacity: .6;
  color: var(--color-letter);

  & img{
    width: 50px;
    height: 50px;
    margin: 5px 0;
  }
}

.div_b3Gh3{
  display: flex;
}

.label_Fkf9B {
  flex: 1;
  padding: 15px 0;
  min-height: 50px;
  display: flex;

  cursor: text;
}

.txt_W17W2 {
  overflow: hidden;

  font-size: 16px;
  height: 20px;
  max-height: 200px;

  align-self: center;

  color: var(--color-letter);
  width: 100%;
}

.button_E8Vr8 {
  align-self: end;
  width: 50px;
  height: 50px;

  color: var(--color-letter);
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

/* div_o4ubh */

.div_F6FFR {
  position: fixed;
  inset: 0;

  padding: 15px;
  display: none;

  &.active {
    display: flex;
  }
  
}

.div_3b7ZM {
  margin: auto;
  width: min(100%, 400px);
  height: min(100%, 400px);
  overflow: hidden;
  border-radius: 8px;

  user-select: none;
}

@media (min-width: 750px) {
  .div_ejM2b {
    border-radius: 8px;
    overflow: hidden;
  }
}


/* p_IA4wz */