/* form add link */
.div_PGtVi {
  position: fixed;
  inset: 0;

  display: flex;
  padding: 15px;

  background: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(5px);
  z-index: 999;
}

.form_slr4j {
  margin: auto;
  background: var(--color-background);
  width: min(100%, 450px);

  display: grid;
  padding: 15px;
  gap: 15px;

  border-radius: 8px;
}

.div_oH3Hj {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
}

.input_V94sL {
  background: none;
  outline: none;
  border: none;

  text-align: center;

  padding: 15px;

  border-bottom: 1.25px solid transparent;

  color: var(--color-letter);

  &:focus {
    border-color: rgb(255 255 255 / 0.1);
  }
}

.button_0JQ7M {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  color: var(--color-letter);

  &:hover {
    opacity: 0.7;
  }
}

/* div_PGtVi */
