/* fuentes */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* root */
:root {
  --min-width: min(100%, 750px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--fontFamily-letter);
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;

  background: var(--color-background);
}

#root {
  position: fixed;
  inset: 0;

  display: grid;
  overflow: hidden;
  grid-template-rows: 1fr auto;
  /* background: rgb(181 178 178 / 0.1); */
}

.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll-y::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.scroll-x::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

textarea,
input {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */

  background: none;
  border: none;
  outline: none;

  resize: none;
}

img::selection {
  background: transparent;
}

.background {
  position: relative;
  background: #000000;
  overflow: hidden;
}

.background::after {
  content: "";
  inset: 0;
  position: absolute;
  background: rgb(255 255 255 / 0.1);
  pointer-events: none;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal {
  display: none;
}

.modal.active {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  opacity: 0.5;
}
