.div_ue0FY7z {
  width: 100%;
  height: 100%;

  display: grid;
  overflow: hidden;
}

.div_kzd5iN4 {
  align-self: start;
  justify-self: center;

  padding: 10px;
  max-height: 100%;
  width: min(100%, 650px);
}

.div_Hu171ix {
  color: var(--color-letter);
}

.div_h35b0gG {
  display: grid;
  gap: 3px;
  overflow: hidden;
  border-radius: 5px;
}

.a_Fcy4PwW {
  background: var(--color-item);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--color-letter);
  font-size: 16px;
}

.button_8GBQ4NU {
  background: var(--color-item);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--color-letter);
  font-size: 16px;
  text-decoration: none;
}

/* user */
.div_ue0FY7z {
  width: 100%;
  height: 100%;
}

.div_Yt1Jtre {
  display: grid;
  align-self: start;
}

.div_cPN16D0 {
  display: flex;
  justify-self: end;
}

.a_e674k6w {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  & img {
    width: 20px;
    height: 20px;
    filter: var(--filter-img);
  }

  &:hover {
    opacity: 0.5;
  }
}

.button_e674k6w {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  & img {
    width: 20px;
    height: 20px;
    filter: var(--filter-img);
  }

  &:hover {
    opacity: 0.5;
  }
}

.div_y86pvEn {
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  & img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 100%;
  }
}

.div_cDaXU12 {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.div_WNES2MH {
  margin: 0 auto;
  width: min(100%, 650px);
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  padding: 15px;
  gap: 15px;
}

.span_Z8z1vDs {
  --width : 0;
  align-self: center;
  position: relative;
  background: rgb(181 178 178 / 0.3);
  height: 3px;
  border-radius: 3px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: var(--width);
    background: var(--color-letter);
  }
}

/* modal setting */
.div_IK85t20 {
  position: fixed;
  inset: 0;
  display: grid;
  z-index: 999;
  backdrop-filter: blur(2.5px);
  background: rgb(255 255 255 / 0.1);
}

.div_31mQ4VP {
  position: fixed;
  inset: 0;
}

.div_2V8ZNzZ {
  position: relative;
  justify-self: center;
  align-self: end;
  width: min(100%, 450px);
  height: 400px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;

  background: var(--color-background);
  transition: background 0.25s ease-in-out;
}

.div_kc3bagF {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (min-width: 600px) {
  .div_IK85t20 {
    padding: 10px;
  }
  .div_2V8ZNzZ {
    border-radius: 8px;
  }
}

.div_UsFKG6Y {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 15px;
}

.label_5kB8k1C {
  display: flex;
  cursor: pointer;

  & input {
    display: none;
  }
  & input:checked + span {
    opacity: 1;
  }
  & input:checked + span::before {
    left: 35px;
  }

  & span {
    background: var(--color-letter);
    height: 30px;
    width: 60px;
    position: relative;
    border-radius: 30px;
    opacity: 0.6;
    transition: opacity 0.25s ease-in-out;
  }

  & span::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    background: var(--color-item);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: left 0.25s ease-in-out;
  }
}

.div_AYs8msi {
  padding: 5px;
  gap: 3px;
}

.div_w1AIy8F {
  display: grid;
}

.label_NWRrl70 {
  display: flex;
  justify-self: left;
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  pointer-events: none;

  &.right {
    pointer-events: initial;
    justify-self: right;
  }

  &.right span {
    background: var(--color-chat);
    color: #ffffff;
  }

  & input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  & span {
    background: var(--color-item);
    color: var(--color-letter);
    display: flex;
    padding: 15px;
  }
}

.div_xAJ4fl5 {
  width: 100%;
  padding: 15px;
  display: flex;
}

.div_j5G8e0D {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: auto;
  width: auto;

  & span {
    display: block;
    padding: 10px 20px;
    border-radius: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;

    border: 1.25px solid var(--color-letter);
    color: var(--color-letter);

    &.focus {
      background: var(--color-letter);
      color: var(--color-item);
    }
  }
}

/* div_cDaXU12 */
