/* contenedor base */
.div_KEVYWu2 {
  position: fixed;
  inset: 0;
  display: grid;
  z-index: 999;

  &.absolute {
    position: absolute;
  }
}

.div_hS7SImh {
  position: inherit;
  inset: 0;

  background: var(--color-letter);
  opacity: 0.1;
}

/* stiker */
.div_d788b1q {
  position: relative;
  background: var(--color-item);
  width: min(100%, 500px);
  align-self: end;
  justify-self: center;
  border-radius: 8px;
  display: grid;
  overflow: hidden;

  & button {
    height: 60px;
    text-align: left;
    padding: 0 20px;
  }
}

@media (min-width: 600px) {
  .div_KEVYWu2 {
    padding: 15px;
  }
}

/* OPTION CHAT  */
.div_1Z6ZCkT {
  position: relative;

  width: min(100%, 550px);
  max-height: min(100%, 550px);

  align-self: end;
  justify-self: center;

  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.div_gZ94AC8 {
  display: none;
}

.div_SsaBtj6 {
  margin: auto;
  display: flex;
  padding: 15px;
  gap: 15px;

  font-size: 25px;
}

.div_M1q0hm2 {
  background: var(--color-item);
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  display: grid;
}

.div_A3yLovl {
  border-bottom: 1.5px solid rgb(181 178 178 / 0.1);
  height: 60px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.div_w22fa26 {
  flex: 1;
  overflow: hidden;
  padding: 0 20px;
  display: flex;

  &:has(img) {
    padding: 5px;
  }
  & img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
}

.div_iFL8U75{
  display: flex;

  & button{
    width: 60px;
    height: 60px;
  }
}

.div_S4til5e {
  display: grid;
  & button {
    height: 60px;
    text-align: left;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0 20px;
    gap: 20px;

    font-size: 17px;
    color: var(--color-letter);
  }
}

@media (min-width: 600px) {
  .div_M1q0hm2 {
    border-radius: 8px;
  }
}
/* MODAL APARIENCIA */
.div_kzd5iN4{
  position: relative; 
}


/* MODAL VIDEO HISTORY  */
.div_oy1VxlI{
  aspect-ratio: 1 / 1;
  align-self: end;

  position: relative;
  background: var(--color-background);
  color: var(--color-letter);
  width: 100%; 

  display: flex;
  border-radius: 8px 8px 0 0;

  overflow-y: auto;
}
 
.div_wcyPU0Y{
  align-self: start;
  display: grid;
  width: 100%;
}
 
@media (min-width: 600px) {
  .div_oy1VxlI {
    aspect-ratio: initial;
    height: 100%;
    width: min(100%, 375px);
    border-radius: 0 8px 8px 0;
  }
}

.div_0MIE1m1{ 
  display: grid;
  padding: 10px; 
  gap: 10px;
  
  & span {
    justify-self: end;
    font-size: 13px;
  }
}

.span_line{
  background: rgb(181 178 178 / .2);
  margin: auto;
  width: calc(100% - 40px);
  height: 1.25px;
  display: flex;
}

/* div_wcyPU0Y */