/* contenedor base */
.div_KEVYWu2 {
  position: fixed;
  inset: 0;
  display: flex;
  z-index: 999;

  backdrop-filter: blur(2.5px);

  &.absolute {
    position: absolute;
  }
}

.div_hS7SImh {
  position: inherit;
  inset: 0;

  background: var(--color-letter);
  opacity: 0.3;
}

@media (min-width: 600px) {
  .div_KEVYWu2 {
    padding: 15px;

    &.p-none {
      padding: 0;
    }
  }
}

/* stiker */

.div_o5YYc7z {
  --width : min(100%, 450px);
  margin: 0 auto;
  align-self: end;
  width: 100%;
}

.div_nePa18j {
  position: relative;
  background: var(--color-item);

  display: grid;
  grid-template-rows: 1fr 60px;
  border-radius: 8px 8px 0 0;

  animation: pop_up 0.5s ease;
}

.div_0Xy0kH1{
  margin: auto;
  width: 250px;
  height: 250px;
  padding: 15px;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
}

.div_87f623c {
  display: flex;
}

.div_DJuQ0ML {
  margin: auto;
  display: flex;
  padding: 0 15px;
  gap: 15px;
  & button {
    width: 60px;
    height: 60px;

    & svg {
      width: 20px;
      height: 20px;
      fill: var(--color-letter);
    }
  }
}

@media (min-width: 600px) {
  .div_o5YYc7z{
    padding: 15px;
  }

  .div_nePa18j{
    border-radius: 8px;
  }

  .element-width{
    width: var(--width);
  }
}

/* OPTION CHAT  */
.div_1Z6ZCkT {
  position: relative;

  width: min(100%, 550px);
  max-height: min(100%, 550px);

  align-self: end;
  justify-self: center;

  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.div_gZ94AC8 {
  display: none;
}

.div_SsaBtj6 {
  margin: auto;
  display: flex;
  padding: 15px;
  gap: 15px;

  font-size: 25px;
}

.div_M1q0hm2 {
  background: var(--color-item);
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  display: grid;
}

.div_A3yLovl {
  border-bottom: 1.5px solid rgb(181 178 178 / 0.1);
  height: 60px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.div_w22fa26 {
  flex: 1;
  overflow: hidden;
  padding: 0 20px;
  display: flex;

  color: var(--color-letter);

  &:has(img) {
    padding: 5px;
  }
  & img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
}

.div_iFL8U75 {
  display: flex;

  & button {
    width: 60px;
    height: 60px;
  }
}

.div_S4til5e {
  display: grid;
  & button {
    height: 60px;
    text-align: left;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0 20px;
    gap: 20px;

    font-size: 17px;
    color: var(--color-letter);
  }
}

@media (min-width: 600px) {
  .div_M1q0hm2 {
    border-radius: 8px;
  }
}
/* MODAL APARIENCIA */
.div_kzd5iN4 {
  position: relative;
}

/* MODAL VIDEO HISTORY  */
.div_oy1VxlI {
  aspect-ratio: 1 / 1;
  align-self: end;

  position: relative;
  background: var(--color-background);
  color: var(--color-letter);
  width: 100%;

  border-radius: 8px 8px 0 0;

  overflow-y: auto;

  display: grid;
  grid-template-rows: 1fr auto;
}

.div_sDVCNZ5 {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  height: 60px;

  & h4 {
    margin: 0 15px;
  }

  & button {
    width: 60px;
    height: 60px;

    & svg {
      width: 20px;
      height: 20px;
      fill: var(--color-letter);
    }
  }
}

.div_wcyPU0Y {
  align-self: start;
  display: grid;
  width: 100%;
}

@media (min-width: 600px) {
  .div_oy1VxlI {
    aspect-ratio: initial;
    height: 100%;
    width: min(100%, 375px);
    border-radius: 0 8px 8px 0;
  }
}

.div_0MIE1m1 {
  display: grid;
  padding: 10px;
  gap: 10px;

  & span {
    justify-self: end;
    font-size: 13px;
  }
}

.span_line {
  background: rgb(181 178 178 / 0.2);
  margin: auto;
  width: calc(100% - 40px);
  height: 1.25px;
  display: flex;
}

/* MODAL VIDEO USER  */
.div_753wTS9 {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  height: 60px;
  align-items: center;

  & button {
    width: 60px;
    height: 60px;

    & svg {
      width: 20px;
      height: 20px;
      fill: var(--color-letter);
    }
  }
}

.div_3N6X658 {
  margin: auto;
  width: 40px;
  height: 40px;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 50%;

    object-fit: cover;
  }

  & span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: green;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.div_tfe1dZh {
  display: grid;
}

.div_agfcT72 {
  display: flex;

  & button {
    width: 60px;
    height: 60px;
  }
}

/* STREAM */
.form_xwfHpEY {
  position: relative;
  align-self: end;
  margin: 0 auto;

  background: var(--color-item);
  width: 100%;

  border-radius: 8px 8px 0 0;

  display: grid;
  padding: 15px;
  gap: 15px;

  & input {
    background: var(--color-background);
    height: 60px;
    max-height: 100%;
    padding: 0 15px;
    text-align: center;
    color: var(--color-letter);
    font-size: 16px;
    border-radius: 60px;
  }
}

.div_M5yXKLX {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  & button {
    height: 60px;
    border-radius: 60px;
    color: var(--color-letter);
    font-weight: bold;
    border: 1.25px solid var(--color-letter);

    &.submit {
      background: var(--color-letter);
      color: var(--color-item);
    }
  }
}

@media (min-width: 600px) {
  .form_xwfHpEY {
    width: min(100%, 425px);
    border-radius: 8px;
  }
}

/* LOGIN */

.div_z08HdDa {
  position: relative;
  transform: translateY(0);

  margin: 0 auto;
  width: 100%;
  max-height: 100%;
  align-self: end;

  animation: pop_up 0.5s ease;
}

.form_50roGPo {
  width: 100%;
  opacity: 1;
  padding: 15px;
  gap: 15px;

  background: var(--color-item);
  color: var(--color-letter);

  display: grid;

  border-radius: 8px 8px 0 0;

  & h2 {
    margin: 15px;
    text-align: center;
  }

  & input {
    background: var(--color-background);
    color: var(--color-letter);
    height: 60px;
    padding: 0 15px;

    font-size: 16px;
    text-align: center;
    border-radius: 60px;
  }
}

.div_i9lYRnC {
  display: grid;

  & button {
    background: var(--color-letter);
    color: var(--color-item);
    
    height: 60px;
    border-radius: 60px;

    font-weight: bold;
    font-size: 16px;
  }
}

@media (min-width: 600px) {
  .div_z08HdDa {
    width: min(100%, 430px);
    padding: 15px;
  }
  .form_50roGPo {
    border-radius: 8px;
  }
}

/* FORM VIDEO LINK */
.form_slr4j {
  position: relative;
  margin: 0 auto;
  align-self: flex-end;
  background: var(--color-item);
  width: 100%;

  display: grid;
  padding: 15px;
  gap: 15px;

  border-radius: 8px;
}

.input_V94sL {
  background: var(--color-background);
  outline: none;
  border: none;

  text-align: center;

  padding: 15px;
  height: 60px;
  border-radius: 60px;

  border-bottom: 1.25px solid transparent;

  color: var(--color-letter);

  &:focus {
    border-color: rgb(255 255 255 / 0.1);
  }
}

.div_oH3Hj {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60px;
  gap: 15px;

  & button {
    background: none;
    outline: none;

    color: var(--color-letter);
    border: 1.25px solid var(--color-letter);
    border-radius: 60px;

    &.dark {
      background: var(--color-letter);
      color: var(--color-item);
    }
  }
}

@media (min-width: 600px) {
  .form_slr4j {
    border-radius: 8px;
    width: min(100%, 430px);
  }
}

/* STREAM OPTION */
.div_615A3JR{
  position: relative;
  background: var(--color-item);
  display: grid;
  align-self: end;
  margin: 0 auto;
  width: 100%;

  border-radius: 8px 8px 0 0;
}

.button_shHYc7J{
  display: grid;
  grid-template-columns: 60px 1fr;
  height: 60px;

  color: var(--color-letter);

  & svg {
    margin: auto;
    width: 20px;
    height: 20px;
    fill: var(--color-letter);
  }

  & span {
    margin: auto 0;
    text-align: left;
  }
}

@media (min-width: 600px) {
  .div_615A3JR {
    width: min(100%, 450px);
    border-radius: 8px;
  }
}
