.div_r59RR7t {
  width: 100%; 
  height: 60px; 
}

.div_xo0lE74 {
  margin: 0 auto;
  display: flex;
  width: min(100%, 700px); 
  height: 60px; 

  & a {
    text-decoration: none;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-letter);
  }

  & a.focus img {
    filter: invert(30%) sepia(100%) saturate(3655%) hue-rotate(234deg)
      brightness(97%) contrast(91%);
  }

  & img {
    filter: var(--filter-img);
    width: 20px;
    height: 20px;
  }
}
