/*  BASE */
.div_08H2LYs {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: auto;

  display: grid;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

/* INICIO */
.div_Q2pvs6P {
  align-self: start;
  margin: 0 auto;
  width: min(100%, 750px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 180px), 1fr));
  gap: 10px;
}

.a_N5MMLG4 {
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  background: var(--color-item);
  border-radius: 8px;

  &:hover {
    opacity: 0.7;
  }

  & img {
    width: 40%;
    height: 40%;
  }
}

/* STREAM */
.div_Z3l5me3 {
  align-self: start;
  margin: 0 auto;
  display: grid;
  gap: 3px;

  width: var(--min-width);
  border-radius: 8px;
  overflow: hidden;
}

.a_eBF5R8K {
  background: var(--color-item);
  color: var(--color-letter);

  height: 60px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 20px;
  gap: 20px;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }

  & img {
    width: 20px;
    height: 20px;
  }
}

/* STIKER */
.div_vXa5q94 {
  position: fixed;
  inset: 0;
  background: var(--color-background);

  display: grid;
  z-index: 999;
}

.div_GHk93TF {
  flex: 1;
  padding: 10px;
}

.div_jr45I15 {
  width: min(100%, 650px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  border-radius: 8px;
  overflow: hidden;
}

.div_80VEr3d {
  background: var(--color-item);
  height: 60px;

  display: grid;
  grid-template-columns: 1fr auto;

  & button {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    & img {
      width: 20px;
      height: 20px;
      filter: var(--filter-img);
    }
  }
}

.div_79Hcs8q {
  padding: 0 15px;

  display: flex;
  align-items: center;
  color: var(--color-letter);
  text-decoration: none;
}

.div_C0rVsHh {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 80px), 1fr));
  overflow: hidden;
  gap: 10px;
}

.div_SlY3iuU {
  aspect-ratio: 1/1;
  overflow: hidden;

  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  & img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}
/*  PAGE NOT FOUND */
.div_KA3GM9H {
  position: fixed;
  inset: 0;

  display: flex;

  background: var(--color-background);
}

.div_POqgQ8x {
  margin: auto;

  display: grid;
  justify-items: center;
  gap: 15px;

  color: var(--color-letter);

  & a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 45px;
    border-radius: 30px;

    text-decoration: none;
    background: var(--color-letter);
    color: var(--color-item);
  }
}

/* USER */
.div_5Zz84Ni {
  --height: 175px;
  --color-uno: var(--color-chat);
  position: fixed;
  inset: 0;
  overflow-y: auto;
}

.div_e6dR5Cp {
  position: relative;
  display: grid;
  width: min(100%, 750px);
  margin: 0 auto;
}

.div_g90gE7g {
  position: relative;
  background: none;
  height: calc(var(--height) * 2);
  display: grid;
}

.div_9d2AH62 {
  position: absolute;
  inset: 0;
  bottom: initial;
  height: calc((var(--height) * 2) + 60px);

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.div_pB6zzvH {
  position: absolute;
  inset: 0;
  bottom: initial;
  height: 60px;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  & a {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;

    font-size: 23px;

    &:hover {
      opacity: 0.5;
    }
  }
}

.div_7exS891 {
  position: relative;
  height: 50%;
  align-self: end;

  display: grid;
  justify-items: center;
}

.div_Y6670k2 {
  position: absolute;
  background: #ffffff;
  transform: translateY(-50%);
  width: var(--height);
  height: var(--height);
  display: flex;
  justify-content: center;
  border: 3px solid var(--color-uno);
  border-radius: 50%;
  padding: 0;
  border: none;
}

.div_rwsKT2P {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
  }
}

.button_57zh9xb {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background: var(--color-uno);
  color: #ffffff;
}

.div_w23w1hQ {
  height: var(--height);
  width: 100%;

  display: grid;
  overflow: hidden;
  grid-template-rows: 1fr 1fr;
  border-radius: 20px 20px 0 0;
}

.div_q9SpFZJ {
  background: none;
}

.div_751XNwm {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div_LSlRYXR {
  color: #ffffff;
}

.div_MV6T05n {
  display: grid;
  width: 100%;
  padding: 10px;
  gap: 6px;
  overflow: hidden;
}

.div_FW1pCy1 {
  display: grid;
  border-radius: 8px;
  overflow: hidden;
  gap: 3px;
}

.div_7soD7Ah {
  background: var(--color-item);
  color: var(--color-letter);
}

.div_43dhiC8 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

.button_4tqA7O4 {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: inherit;

  & div {
    text-align: left;
    overflow: hidden;
  }
}

.a_K6KH1Ba {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;

  height: 60px;
  padding: 0 20px;
  gap: 20px;
  text-decoration: none;
  text-align: center;

  background: var(--color-item);
  color: var(--color-letter);
  font-size: 15px;

  &:hover {
    opacity: 0.5;
  }

  & div {
    text-align: left;
  }
}

.h4_8jdxYE0 {
  margin: 10px;
  color: var(--color-uno);
}

/* APARIENCIA */
.div_L5jgPxN {
  position: fixed;
  inset: 0;

  display: grid;
  grid-template-rows: 60px 1fr;
}

.header_225VF53 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-letter);
  & a {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;

    font-size: 23px;

    & i {
      display: grid;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}

.div_lD7mjkb {
  display: flex;
  align-items: center;
}

.div_Xs7U5Y6 {
  padding: 0 15px;
}

.div_VV5Wk2L {
  padding: 10px;
  display: grid;
}

.div_DCTrK3U {
  align-self: start;
  margin: 0 auto;
  width: var(--min-width);

  border-radius: 8px;
  overflow: hidden;
  display: grid;
  gap: 3px;
}

.div_FRs55rt {
  background: var(--color-item);
  color: var(--color-letter);
  display: grid;
}

.div_98E12uW {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.div_2V8ZNzZ {
  position: relative;
  justify-self: center;
  align-self: end;
  width: min(100%, 450px);
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
  background: pink;
}

.div_kc3bagF {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (min-width: 600px) {
  .div_IK85t20 {
    padding: 10px;
  }
  .div_2V8ZNzZ {
    border-radius: 8px;
  }
}

.div_UsFKG6Y {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 15px;
}

.label_5kB8k1C {
  display: flex;
  cursor: pointer;

  & input {
    display: none;
  }
  & input:checked + span {
    opacity: 1;
  }
  & input:checked + span::before {
    left: 35px;
  }

  & span {
    background: var(--color-letter);
    height: 30px;
    width: 60px;
    position: relative;
    border-radius: 30px;
    opacity: 0.6;
    transition: opacity 0.25s ease-in-out;
  }

  & span::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    background: var(--color-item);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: left 0.25s ease-in-out;
  }
}

.div_AYs8msi {
  padding: 5px;
  gap: 3px;
}

.div_w1AIy8F {
  display: grid;
}

.label_NWRrl70 {
  display: flex;
  justify-self: left;
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  pointer-events: none;

  &.right {
    pointer-events: initial;
    justify-self: right;
  }

  &.right span {
    background: var(--color-chat);
    color: #ffffff;
  }

  & input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  & span {
    background: var(--color-item);
    color: var(--color-letter);
    display: flex;
    padding: 15px;
  }
}

.div_xAJ4fl5 {
  width: 100%;
  padding: 15px;
  display: flex;
}

.div_j5G8e0D {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: auto;
  width: auto;

  & span {
    display: block;
    padding: 10px 20px;
    border-radius: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
    font-size: 15px;

    border: 1.25px solid var(--color-letter);
    color: var(--color-letter);
 

    &.focus {
      background: var(--color-letter);
      color: var(--color-item);
    }
  }
}

/* a_K6KH1Ba */
