/*  BASE */
.div_08H2LYs {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: auto;

  display: flex;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

/* INICIO */

.div_a6Sf7fo {
  align-self: start;
  margin: 0 auto;
  display: flex;
  width: min(100%, 750px);
}

.div_Q2pvs6P {
  align-self: start;
  margin: 0 auto;

  display: flex;
  gap: 10px;
}

.a_N5MMLG4 {
  width: 150px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  background: var(--color-item);
  color: var(--color-letter);

  border-radius: 8px;

  &:hover {
    opacity: 0.7;
  }

  & div {
    display: grid;
    gap: 5px;
    text-align: center;
  }

  & img {
    width: 40px;
    height: 40px;
  }
}

/* STREAM */
.div_Z3l5me3 {
  align-self: start;
  margin: 0 auto;
  display: grid;
  gap: 3px;

  width: var(--min-width);
  border-radius: 8px;
  overflow: hidden;
}

.a_eBF5R8K {
  background: var(--color-item);
  color: var(--color-letter);

  height: 60px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 20px;
  gap: 20px;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }

  & svg {
    width: 20px;
    height: 20px;
    fill: var(--color-letter);
  }
}

.div_ckiK8W2 {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--color-background);

  overflow: hidden;

  & button {
    background: var(--color-item);
    color: var(--color-letter);
    width: 60px;
    height: 60px;
    border-radius: 50%;

    & svg {
      fill: var(--color-letter);
      width: 18px;
      height: 18px;
    }
  }
}

/* STIKER */

.div_qG017oA {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 60px 1fr;
  overflow: hidden;
}

.div_M5Bblpr {
  display: flex;
}

.div_Rhx70NY {
  margin: auto;
  display: flex;
  padding: 0 15px;
  gap: 15px;

  & span {
    padding: 10px 30px;
    border-radius: 30px;
    border: 1.25px solid var(--color-letter);
    color: var(--color-letter);

    &.focus{
      background: var(--color-letter);
      color: var(--color-item);
    }
  }
}

.div_nob5pQr{ 
  display: flex; 
}

.div_8dh8A1c{
  width: 100%;
  align-self: center;
  text-align: center;
}

.div_jr45I15 { 
  align-self: start;

  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 80px), 1fr));
  gap: 15px;
  
  overflow: hidden;
}

.div_80VEr3d {
  aspect-ratio: 1 / 1;
  display: grid;
  border-radius: 8px;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
  }
  /*  
  &.full {
    grid-column-start: 1;
    grid-column-end: -1;
  }
 */
}

.div_79Hcs8q {
  padding: 0 15px;

  display: flex;
  align-items: center;
  color: var(--color-letter);
  text-decoration: none;
}

.div_C0rVsHh {
  align-self: start;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 80px), 1fr));
  overflow: hidden;
  gap: 10px;
}

.div_SlY3iuU {
  aspect-ratio: 1/1;
  overflow: hidden;

  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  & img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}
/*  PAGE NOT FOUND */
.div_KA3GM9H {
  position: fixed;
  inset: 0;

  display: flex;

  background: var(--color-background);
}

.div_POqgQ8x {
  margin: auto;

  display: grid;
  justify-items: center;
  gap: 15px;

  color: var(--color-letter);

  & a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 45px;
    border-radius: 30px;

    text-decoration: none;
    background: var(--color-letter);
    color: var(--color-item);
  }
}

/* USER */
.div_5Zz84Ni {
  --height: 175px;
  --color-uno: var(--color-chat);
  position: fixed;
  inset: 0;
  overflow-y: auto;
}

.div_e6dR5Cp {
  position: relative;
  display: grid;
  width: min(100%, 750px);
  margin: 0 auto;
}

.div_g90gE7g {
  position: relative;
  background: none;
  height: calc(var(--height) * 2);
  display: grid;
}

.div_9d2AH62 {
  position: absolute;
  inset: 0;
  bottom: initial;
  height: calc((var(--height) * 2) + 60px);

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.div_pB6zzvH {
  position: absolute;
  inset: 0;
  bottom: initial;
  height: 60px;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  & a {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    font-size: 23px;

    &:hover {
      opacity: 0.5;
    }

    & svg {
      width: 20px;
      height: 20px;
      fill: var(--color-letter);
    }
  }
}

.div_7exS891 {
  position: relative;
  height: 50%;
  align-self: end;

  display: grid;
  justify-items: center;
}

.div_Y6670k2 {
  position: absolute;
  background: #ffffff;
  transform: translateY(-50%);
  width: var(--height);
  height: var(--height);
  display: flex;
  justify-content: center;
  border: 3px solid var(--color-uno);
  border-radius: 50%;
  padding: 0;
  border: none;
}

.div_rwsKT2P {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.button_57zh9xb {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background: var(--color-uno);
  color: #ffffff;
}

.div_w23w1hQ {
  height: var(--height);
  width: 100%;

  display: grid;
  overflow: hidden;
  grid-template-rows: 1fr 1fr;
  border-radius: 20px 20px 0 0;
}

.div_q9SpFZJ {
  background: none;
}

.div_751XNwm {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div_LSlRYXR {
  color: #ffffff;
}

.div_MV6T05n {
  display: grid;
  width: 100%;
  padding: 10px;
  gap: 6px;
  overflow: hidden;
}

.div_FW1pCy1 {
  display: grid;
  border-radius: 8px;
  overflow: hidden;
  gap: 3px;
}

.div_7soD7Ah {
  background: var(--color-item);
  color: var(--color-letter);
}

.div_43dhiC8 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

.button_4tqA7O4 {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: inherit;

  & div {
    text-align: left;
    overflow: hidden;
  }

  & svg {
    fill: var(--color-letter);
    width: 18px;
    height: 18px;
  }
}

.a_K6KH1Ba {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;

  height: 60px;
  padding: 0 20px;
  gap: 20px;
  text-decoration: none;
  text-align: center;

  background: var(--color-item);
  color: var(--color-letter);
  font-size: 15px;

  &:hover {
    opacity: 0.5;
  }

  & div {
    text-align: left;
  }

  & svg {
    fill: var(--color-letter);
    width: 18px;
    height: 18px;
  }
}

.h4_8jdxYE0 {
  margin: 10px;
  color: var(--color-uno);
}

/* APARIENCIA */
.div_L5jgPxN {
  position: fixed;
  inset: 0;

  display: grid;
  grid-template-rows: 60px 1fr;
}

.header_225VF53 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-letter);
  & a {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;

    font-size: 23px;

    & svg {
      width: 20px;
      height: 20px;
      fill: var(--color-letter);
    }
    &:hover {
      opacity: 0.5;
    }
  }
}

.div_lD7mjkb {
  display: flex;
  align-items: center;
}

.div_Xs7U5Y6 {
  padding: 0 15px;
}

.div_VV5Wk2L {
  padding: 10px;
  display: flex;
}

.div_DCTrK3U {
  align-self: start;
  margin: 0 auto;
  width: var(--min-width);

  border-radius: 8px;
  overflow: hidden;
  display: grid;
  gap: 3px;
}

.div_FRs55rt {
  background: var(--color-item);
  color: var(--color-letter);
  display: grid;
}

.div_98E12uW {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.div_2V8ZNzZ {
  position: relative;
  justify-self: center;
  align-self: end;
  width: min(100%, 450px);
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
}

.div_kc3bagF {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (min-width: 600px) {
  .div_IK85t20 {
    padding: 10px;
  }
  .div_2V8ZNzZ {
    border-radius: 8px;
  }
}

.div_UsFKG6Y {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 15px;
}

.label_5kB8k1C {
  display: flex;
  cursor: pointer;

  & input {
    display: none;
  }
  & input:checked + span {
    opacity: 1;
  }
  & input:checked + span::before {
    left: 35px;
  }

  & span {
    background: var(--color-letter);
    height: 30px;
    width: 60px;
    position: relative;
    border-radius: 30px;
    opacity: 0.6;
    transition: opacity 0.25s ease-in-out;
  }

  & span::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    background: var(--color-item);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: left 0.25s ease-in-out;
  }
}

.div_AYs8msi {
  padding: 5px;
  gap: 3px;
}

.div_w1AIy8F {
  display: grid;
}

.label_NWRrl70 {
  display: flex;
  justify-self: left;
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  pointer-events: none;

  &.right {
    pointer-events: initial;
    justify-self: right;
  }

  &.right span {
    background: var(--color-chat);
    color: #ffffff;
  }

  & input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  & span {
    background: var(--color-item);
    color: var(--color-letter);
    display: flex;
    padding: 15px;
  }
}

.div_xAJ4fl5 {
  width: 100%;
  padding: 15px;
  display: flex;
}

.div_j5G8e0D {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: auto;
  width: auto;

  & span {
    display: block;
    padding: 10px 20px;
    border-radius: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
    font-size: 15px;

    border: 1.25px solid var(--color-letter);
    color: var(--color-letter);

    &.focus {
      background: var(--color-letter);
      color: var(--color-item);
    }
  }
}

/* ------ POR ORDENAR ---- */
.div_ue0FY7z {
  width: 100%;
  height: 100%;

  display: grid;
  overflow: hidden;
}

.div_kzd5iN4 {
  align-self: start;
  justify-self: center;

  padding: 10px;
  max-height: 100%;
  width: min(100%, 650px);
}

.div_Hu171ix {
  color: var(--color-letter);
}

.div_h35b0gG {
  display: grid;
  gap: 3px;
  overflow: hidden;
  border-radius: 5px;
}

.a_Fcy4PwW {
  background: var(--color-item);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--color-letter);
  font-size: 16px;
}

.button_8GBQ4NU {
  background: var(--color-item);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--color-letter);
  font-size: 16px;
  text-decoration: none;
}

/* user */
.div_ue0FY7z {
  width: 100%;
  height: 100%;
}

.div_Yt1Jtre {
  display: grid;
  align-self: start;
}

.div_cPN16D0 {
  display: flex;
  justify-self: end;
}

.a_e674k6w {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  & img {
    width: 20px;
    height: 20px;
    filter: var(--filter-img);
  }

  &:hover {
    opacity: 0.5;
  }
}

.button_e674k6w {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  & img {
    width: 20px;
    height: 20px;
    filter: var(--filter-img);
  }

  &:hover {
    opacity: 0.5;
  }
}

.div_y86pvEn {
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  & img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 100%;
  }
}

.div_cDaXU12 {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.div_WNES2MH {
  margin: 0 auto;
  width: min(100%, 650px);
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  padding: 15px;
  gap: 15px;
}

.span_Z8z1vDs {
  --width: 0;
  align-self: center;
  position: relative;
  background: rgb(181 178 178 / 0.3);
  height: 3px;
  border-radius: 3px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: var(--width);
    background: var(--color-letter);
  }
}

/* CUENTA */
.form_9L6695u {
  display: grid;
  padding: 0 15px;
}

.div_WGwF07F {
  position: relative;
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  border-radius: 8px;
}

.label_XzVf530 {
  position: absolute;
  inset: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
  }

  & input {
    position: absolute;
    inset: 0;
    opacity: 0;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.label_96QeWL5 {
  position: relative;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  & input {
    position: absolute;
    inset: 0;
    opacity: 0;
  }

  & img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.label_eE2nEE4 {
  display: grid;

  border-bottom: 1.25px solid rgb(181 178 178 / 0.3);
  & input {
    height: 60px;
    padding: 0 15px;
    color: var(--color-letter);
  }
}

.label_A6w2qK5 {
  display: grid;
  height: 60px;
  padding: 0 15px;

  display: flex;
  align-items: center;
  position: relative;

  border-bottom: 1.25px solid rgb(181 178 178 / 0.3);

  & input {
    position: absolute;
    inset: 0;
    opacity: 0;
  }

  & span {
    opacity: 0.5;
  }
}

.div_A6w2qK5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 15px;
  padding: 15px;

  & label {
    background: var(--color-item);
    color: var(--color-letter);

    padding: 10px 30px;
    border-radius: 30px;

    transition: background 0.3s ease;

    & input {
      display: none;
    }

    &:has(input:checked) {
      background: var(--color-letter);
      color: var(--color-item);
    }
  }
}

.div_ZL6A3xH {
  display: flex;
  justify-content: right;
  padding: 15px 0;

  & button {
    background: var(--color-letter);
    color: var(--color-item);
    padding: 15px 30px;
    border-radius: 30px;
  }
}

/* LOGIN */
.div_TGskMqH {
  position: fixed;
  inset: 0;

  display: flex;
}

.div_bk3v9ra {
  margin: auto;
  display: grid;
  gap: 15px;
  padding: 15px;

  width: min(100%, 350px);

  & button {
    background: none;
    height: 60px;
    border-radius: 60px;
    border: 1.25px solid var(--color-letter);

    color: var(--color-letter);

    &.dark {
      background: var(--color-letter);
      color: var(--color-item);
    }
  }
}

/* STREAM LINK */
.div_0sl5di8 {
  position: fixed;
  inset: 0;
  display: flex;
}

.form_xnrdR0a {
  margin: auto;
  display: grid;
  width: min(100%, 400px);
  padding: 15px;
  gap: 15px;

  & input {
    height: 60px;
    border-radius: 60px;
    background: #ffffff;
    text-align: center;
  }
}

/* label_A6w2qK5  LOGIN*/

@media (min-width: 600px) {
  .div_jr45I15 { 
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 150px), 1fr)); 
  }
}